<div class="col-md-3 col-sm-6 team-members wow fadeInLeft"> 
            <div class="team-members-inner">              
              <img src="{{file_url(content.field_agents_image['#items'].entity.uri.value)}}" alt="Team Member">
              <div class="services-caption">
                <h5>{{content.field_agent_name.0}}</h5>
                <p>{{content.field_agent_designation.0}}</p>
                <div class="social">

                  <a href="{{content.field_facebook_url.0}}" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="{{content.field_twitter_url.0}}" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="{{content.field_form_title.0}}" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  <a href="{{content.field_listing_title.0}}" class="google-plus"><i class="fa fa-google-plus"></i></a>
                </div>
              </div>
            </div>  
          </div> 