<div class="col-md-12 col">
    <div class="blog-wrap mb-30">
        <div class="blog-img wow fadeInDown">
            <a href="{{fields.view_node.content}}">
                {{fields.field_image.content}}
            </a>
        </div>
        <div class="blog-content wow fadeInUp">
            <div class="blog-meta recent">
              <span>{{fields.created.content}}</span>
            </div>
            <h3>
                <a href="{{fields.view_node.content}}">
                    {{fields.title.content}}
                </a>
            </h3>
            {{fields.body.content}}
        </div>
    </div>
</div>