{{content.field_banner_section}}
<section id="work-detail">
  <div class="container">
    <div class="row work-detail-description">
        
        <img src="{{file_url(node.field_image.entity.uri.value)}}" 
            alt="{{ content.field_image['#items'].alt }}" 
            class="img-fluid wow fadeInUp" 
            title="{{ content.field_image['#items'].alt }}">

        <div class="col-md-11 mx-auto text-center work-detail-desc wow fadeInRight">          
          <h2>{{node.title.value}}</h2>
          {{content.body}}
          <a href="{{ node.field_link.get(0).url }}" class="btn btn-infos wow fadeInDown">
            {{ node.field_link.get(0).title }}
          </a>
        </div> 
    </div>  
  </div>
</section>  

{{content.field_sections}} 
